{% assign member =  include.member %}

{%- assign full_name = member[1].firstname | append: " " | append: member[1].lastname -%}
{%- assign axes = " " -%}
{%- for axis in member[1].axes -%}
  {%- assign axes = axes | append: " " | append: "axis-" | append: axis -%}
{%- endfor -%}

<!-- <div class="member text-center {{member[1].position}} {{axes}}">
<a href="{{ member[1].url }}" target="_blank">
<div class="reflection-container">
  {% for i in (1..100) %}
    <span class="reflection-grid-cell reflection-grid-cell-{{i}}"></span>
  {% endfor %}
  <div class="reflection-content"><img class="member-img-light w-100" alt="{{ full_name }}" src="{{ member[1].profilepic | prepend: '/assets/img/team/' | relative_url }}"></div>
</div>
  {{ full_name }}</a><br>
  {{member[1].position}}
</div> -->

<div class="member text-center {{member[1].position}}">
  <a href="{{ member[1].url }}" target="_blank"><img class="member-img-light w-100" alt="{{ full_name }}" src="{{ member[1].profilepic | prepend: '/assets/img/team/' | relative_url }}">
    {{ full_name }}</a><br> ({{member[1].position}})
</div>
